package main

templ wordForm() {
    <head>
        <script src="https://unpkg.com/htmx.org@1.9.10"></script>
        <title>Test️</title>
    </head>
	<form id="word" hx-post="/word" >
		<span>
			<label for="name">Word: </label>
			<input name="dutch" placeholder="Dutch" type="text"/>
			<input name="english" placeholder="English" type="text"/>
		</span>
		<button type="submit" hx-confirm="Submit">Create</button>
	</form>
}
