package components

templ Tags(tags []string) {
    <div id="container-form" class="container-fluid bg-light d-grid gap-3 p-3 border border-secondary">
        <ul>
            for _, t := range tags {
                <li><a href="#" hx-get={"/web/tags/" + t } hx-target="#search-results" >{ t }</a></li>
            }
        </ul>
    </div>
    <div id="search-results"></div>

}
