package components

templ WordSearch() {
    <div id="container-form" class="container-fluid bg-light d-grid gap-3 p-3 border border-secondary">
        <form id="search" hx-get="/web/word" hx-target="#search-results">
            <label for="word">Word</label>
            <div class="form-group">
                <input name="word" />
            </div>
       </form>
   </div>
   <div id="search-results"></div>
}
